@tailwind base;
@tailwind components;
@tailwind utilities;
.toggle-checkbox:checked {
  right: 0;
  border-color: #4f46e5;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #4f46e5;
}

html,
body {
  @apply bg-gray-900 text-white;
}

@keyframes glowPulse {
  0%,
  100% {
    filter: drop-shadow(0 0 5px #8b5cf6) drop-shadow(0 0 15px #8b5cf6);
  }
  50% {
    filter: drop-shadow(0 0 20px #a78bfa) drop-shadow(0 0 40px #a78bfa);
  }
}

.animate-glow {
  animation: glowPulse 2s infinite ease-in-out;
}
